<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <style>
        button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
</head>
<body>
<button onclick="saveReq()">글작성</button>
<button onclick="listReq()">글목록</button>
<script>
    const saveReq = () => {
        location.href = "/board/save";
    }
    const listReq = () => {
        location.href = "/board/";
    }
</script>
</body>
</html>
